.box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: black;
}

.light {
  position: sticky;
  top: 50%;
  left: 50%;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: rgb(187, 230, 255);
  box-shadow: 0px 0px 20px 10px rgb(187, 230, 255);
}

.light:hover {
  box-shadow: 0px 0px 20px 13px rgb(187, 230, 255);
}

.light:active {
  box-shadow: 0px 0px 20px 15px rgb(187, 230, 255);
}
