.box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: black;
}

.light {
  position: sticky;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgb(187, 230, 255);
  box-shadow: 0px 0px 16px 11px rgba(187, 230, 255, 1);
}
